<div class="col-md-12">
    {% if question.getExplanation() is not null %}
        <div class="alert alert-secondary" role="alert" style="color : black;">
            <strong>Explication :</strong><br/>
            {{ question.getExplanation()|raw }}
        </div>
    {% endif %}
    <hr/>
</div>