{% extends 'base.html.twig' %}
{% block title %}Les résultats du Quizz...{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{{ url('dashboard_pages_index') }}">Tableau de bord</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nouveau Quizz</li>
{% endblock breadcrumb %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Quizz</h4>
                            <h5 class="card-subtitle">Résultats</h5>
                        </div>
                    </div>
                    <div class="row">
                        Bien, vous avez fini le Quizz... c'est déjà ça... un instant, je me penche sur votre copie...<br/>
                        <br/><br/>
                        Voici mon verdict :
                        <br/><br/>
                    </div>
                    {% for log in logs %}
                        <div class="row">
                            <span style="color : red;">{{ log|raw }}</span>
                        </div>
                    {% endfor %}
                    <div class="row" style="padding-top: 50px;">
                        {% if quizzPoints >= 8 %}
                            <div class="col-md-3">
                                <img style="height: 265px;" src="/images/quizz/professor-mcgonagall-bien.jpeg"/>
                            </div>
                            <div class="col-md-3">
                                <span style="font-size: 30px; color : green;">{{ quizzPoints }} / 10<br />{{ comment }}</span>
                            </div>
                        {% elseif quizzPoints >= 5 and quizzPoints < 8 %}
                            <div class="col-md-3">
                                <img style="height: 265px;" src="/images/quizz/professor-mcgonagall-pas-bien.jpg"/>
                            </div>
                            <div class="col-md-3">
                                <span style="font-size: 30px; color : orangered;">{{ quizzPoints }} / 10<br />{{ comment }}</span>
                            </div>
                        {% else %}
                            <div class="col-md-3">
                                <img style="height: 265px;" src="/images/quizz/professor-mcgonagall-pas-bien.jpg"/>
                            </div>
                            <div class="col-md-3">
                                <span style="font-size: 30px; color : red;">{{ quizzPoints }} / 10<br />{{ comment }}</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
