<div class="col-md-12">
    <span style="color : black;">Question dans la matière <strong>{{ question.getThematic().getName() }}</strong></span>
    <br/>
    <span style="color : grey;">Question n° {{ questionNumber }}</span>
    [ Erreur ] Vous avez <strong>{{ action }}</strong>
    "<span style="color : green;">{{ answerSentence }}</span>"
    à la question
    "<span style="color : grey;">{{ questionSentence }}</span>" !

    <br/>
    <br/>
</div>