{% extends 'base.html.twig' %}
{% block title %}Petit Quizz !!{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{{ url('dashboard_pages_index') }}">Tableau de bord</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nouveau Quizz</li>
{% endblock breadcrumb %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Quizz</h4>
                            <h5 class="card-subtitle">
                                10 questions aléatoires
                                <br/>
                                Chaque réponse fausse, incomplète ou avec un choix de trop = 0 point
                                <br/>
                                Chaque test affecte votre note globale et n'est pas réversible !!
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        {{ form_start(form) }}

                        <hr/>
                        {% set questionNumber = 1 %}

                        {% for question in quizz.questions %}
                            <div class="question_{{ questionNumber }}">
                                Question dans la matière <strong>{{ question.getThematic().getName() }}</strong><br/>
                                {{ question.getSentence() }}<br/><br/>

                                {% set answerNumber = 1 %}

                                {% for answer in question.answers %}
                                    <div class="answer">
                                        {{ form_widget(attribute(form, 'question_' ~ questionNumber ~ '_answer_' ~ answerNumber)) }}
                                        {% set answerNumber = answerNumber + 1 %}
                                    </div>
                                {% endfor %}
                                {% set questionNumber = questionNumber + 1 %}
                                <br/>
                                <hr/>
                                <br/>
                            </div>
                        {% endfor %}

                        {{ form_widget(form.submit) }}

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('quizzRun') }}
{% endblock %}
