{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page">Tableau de bord</li>
{% endblock breadcrumb %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Bienvenue</h4>
                            <h5 class="card-subtitle">Bienvenue sur RAG</h5>
                        </div>
                    </div>
                    <div class="row">
                        <img src="/images/welcome-to-the-jungle.jpeg" style="margin: 50px auto; width: 100%" />
                    </div>
                    <div class="row">
                        Maintenant que vous êtes connecté, démarrez le test !
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}