{% extends 'base.html.twig' %}
{% block title %}Statistiques{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{{ url('dashboard_pages_index') }}">Tableau de bord</a></li>
    <li class="breadcrumb-item active" aria-current="page">Courbes</li>
{% endblock breadcrumb %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Résultats</h4>
                            <h5 class="card-subtitle">Courbe des résultats</h5>
                        </div>
                    </div>
                    <div class="row">
                        <canvas id="chartOne" height="30" width="100%"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('charts') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}