{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Erreur 403</li>
{% endblock breadcrumb %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Erreur</h4>
                            <h5 class="card-subtitle">Accès interdit !</h5>
                        </div>
                    </div>
                    <div class="row">
                        Désolé mais vous n'avez pas la permission d'accéder à cette zone !
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}