{% import "menus/user-dropdown.html.twig" as userMenus %}
<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li>
                    <!-- User Profile-->
                    {{ userMenus.sideBarMenu() }}
                    <!-- End User Profile-->
                </li>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="p-15 m-t-10">
                        <a href="{{ url('admin_quizz_add') }}" class="btn btn-block create-btn text-white no-block d-flex align-items-center">
                            <i class="fa fa-plus-square"></i>
                            <span class="hide-menu m-l-5">Nouvelle question</span>
                        </a>
                    </li>
                    <!-- User Profile-->
                    <li class="sidebar-item">
                        <a href="/" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                            <i class="mdi mdi-view-dashboard"></i>
                            <span class="hide-menu">Tableau de bord</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{{ url('dashboard_stats_results') }}" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                            <i class="mdi mdi-chart-line"></i>
                            <span class="hide-menu">Statistiques</span>
                        </a>
                    </li>
                    <li class="text-center p-40">
                        <a href="{{ url('dashboard_quizz_run') }}" class="btn btn-block btn-danger text-white">
                            Commencer un test
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>