{% macro contentMenu() %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a class="dropdown-item" href="/me"><i class="ti-user m-r-5 m-l-5"></i> Mon profil</a>
        <a class="dropdown-item" href="/me/scores"><i class="ti-wallet m-r-5 m-l-5"></i> Mes scores</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout"><i class="fa fa-power-off m-r-5 m-l-5"></i> Déconnexion</a>
    {% else %}
        <a class="dropdown-item" href="/login"><i class="fa fa-power-off m-r-5 m-l-5"></i> Connexion</a>
    {% endif %}
{% endmacro %}

{% macro headerMenu() %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
        <div class="dropdown-menu dropdown-menu-right user-dd animated">
            {{ _self.contentMenu() }}
        </div>
    </li>
{% endmacro %}

{% macro sideBarMenu() %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="user-profile d-flex no-block dropdown m-t-20">
            <div class="user-pic"><img src="/images/users/1.jpg" alt="users" class="rounded-circle" width="40"/></div>
            <div class="user-content hide-menu m-l-10">
                <a href="/me" class="" id="Userdd" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h5 class="m-b-0 user-name font-medium">{{ app.user.username }} <i class="fa fa-angle-down"></i></h5>
                    <span class="op-5 user-email">{{ app.user.username }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Userdd">
                    {{ _self.contentMenu() }}
                </div>
            </div>
        </div>
    {% else %}
        <li class="text-center p-40">
            <a href="{{ url('security_login') }}" class="btn btn-block btn-success text-white">
                Connectez-vous
            </a>
        </li>
    {% endif %}
{% endmacro %}