{% extends 'base.html.twig' %}

{% block title %}Ajouter une question{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
    <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
    <li class="breadcrumb-item active" aria-current="page">Ajouter une question</li>
{% endblock breadcrumb %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Ajoutez une question</h4>
                            <h5 class="card-subtitle">Et quelle soit pas trop facile !!!</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(form) }}
                            {{ form_label(form.sentence) }} :
                            {{ form_widget(form.sentence) }}
                            <br/>
                            {{ form_label(form.thematic) }} :
                            {{ form_widget(form.thematic) }}
                            <hr/>
                            <ul class="answers" data-prototype="{{ form_widget(form.answers.vars.prototype)|e('html_attr') }}">
                                {% for answer in form.answers %}
                                    <li class="answer alert alert-primary" role="alert">
                                        {{ form_label(answer.sentence) }} {{ form_widget(answer.sentence) }}<br/>
                                        {{ form_label(answer.isCorrect) }} {{ form_widget(answer.isCorrect) }}
                                    </li>
                                {% endfor %}
                            </ul>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('questionAdd') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
        }

        li {
            margin-bottom: 15px;
        }

        select#question_thematic,
        input#question_sentence {
            border: 5px solid #e3dffc;
            border-radius: 14px;
            font-size: 20px;
            height: 52px;
        }

        button.removeQuestion {
            margin-top: 10px;
        }
    </style>
{% endblock %}