{% extends 'base.html.twig' %}

{% block title %}Erreur - E-mail introuvable !{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page">Mot de passe oublié</li>
{% endblock breadcrumb %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Erreur !</h4>
                            <h5 class="card-subtitle">E-mail introuvable !</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            E-mail introuvable !
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}