{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page">Mot de passe oublié</li>
{% endblock breadcrumb %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Réinitialisation du mot de passe - étape 2</h4>
                            <h5 class="card-subtitle">Créer un nouveau de mot de passe</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% for flashError in app.flashes('reset_password_error') %}
                                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                            {% endfor %}

                            {{ form_start(requestForm) }}
                            {{ form_row(requestForm.email) }}
                            <div>
                                <small>
                                    Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                                </small>
                            </div>

                            <button class="btn btn-primary">Envoyer un e-mail de réinitialisation du mot de passe</button>
                            {{ form_end(requestForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}